@model IEnumerable<UI_BricoMarche.Models.InhaltModelle.VideoModell>

@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_InhaltLayout.cshtml";
}

<h2>Videos</h2>

<div class="container-fluid">
    <hr />
    @foreach (var video in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayFor(model => video.Bezeichnung)
            </dt>

            <dd>

                <a href="@Url.Action("VideoDetails", "Inhalt", new { videoID = video.ID })">
                    <img src="@Url.Action("VideoBild", "Inhalt", new { videoID = video.ID })" alt="Video-Bild" class="thumbnail"/>
 
                </a>
            </dd>

            <dt>
                @Html.LabelFor(model => video.Kategorie)
            </dt>

            <dd>
                @Html.DisplayFor(model => video.Kategorie)
            </dd>
        </dl>
    }
    <div class="pagination">
        @if (ViewBag.Schlagwort != null && ViewBag.Schlagwort != "")
        {
            for (int aktSeite = 0; aktSeite < ViewBag.AnzahlVideos / ViewBag.AnzahlProSeite; aktSeite++)
            {
                @Html.ActionLink((aktSeite + 1).ToString(), "VideosSuche", "Inhalt", new { schlagwort = ViewBag.schlagwort, seite = aktSeite + 1, anzahl = ViewBag.AnzahlProSeite }, null);
                <text>&nbsp;</text>
            }
        }
        else
        {
            for (int aktSeite = 0; aktSeite < ViewBag.AnzahlVideos / ViewBag.AnzahlProSeite; aktSeite++)
            {
                @Html.ActionLink((aktSeite + 1).ToString(), "Videos", "Inhalt", new { kategorieID = ViewBag.KategorieID, seite = aktSeite + 1, anzahl = ViewBag.AnzahlProSeite }, null);
                <text>&nbsp;</text>
            }

        }
    </div>
</div>