@model IEnumerable<UI_BricoMarche.Models.InhaltModelle.VideoModell>

@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_InhaltLayout.cshtml";
}

<h2>Videos</h2>
<div class="container-fluid">
    <i class="text-info">@ViewBag.AnzahlVideos Produkte gefunden!</i>
    <hr />
    <div>
        @foreach (var video in Model)
        {
            <div class="floating caption">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayFor(model => video.Bezeichnung)
                    </dt>

                    <dd>

                        <a href="@Url.Action("VideoDetails", "Inhalt", new { videoID = video.ID })">
                            <img src="@Url.Action("VideoBild", "Inhalt", new { videoID = video.ID })" alt="Video-Bild" class="thumbnail" />

                        </a>
                    </dd>

                    <dt>
                        @Html.LabelFor(model => video.Kategorie)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => video.Kategorie)
                    </dd>
                </dl>
            </div>
        }
    </div>
    <p class="clearfix"></p>
    <hr />
    <div class="pagination">
        @if (ViewBag.Schlagwort != null && ViewBag.Schlagwort != "")
            {
                for (int aktSeite = 0; aktSeite <= ViewBag.AnzahlVideos / ViewBag.AnzahlProSeite; aktSeite++)
                {
                @Html.ActionLink((aktSeite + 1).ToString(), "VideoSuche", "Inhalt", new { suchbegriff = ViewBag.suchbegriff, seite = aktSeite + 1, anzahl = ViewBag.AnzahlProSeite }, null);
                <text>&nbsp;</text>
            }
        }
        else
        {
            for (int aktSeite = 0; aktSeite <= ViewBag.AnzahlProdukte / ViewBag.AnzahlProSeite; aktSeite++)
            {
                @Html.ActionLink((aktSeite + 1).ToString(), "Video", "Inhalt", new { kategorieID = ViewBag.KategorieID, seite = aktSeite + 1, anzahl = ViewBag.AnzahlProSeite }, null);
                <text>&nbsp;</text>
            }
        }
    </div>
</div>
