<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BricoMarche DACH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-layout">
    <div class="navbar navbar-default navbar-fixed-top layout-nav">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#layout-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Willkommen", "Inhalt")"><img src="~/Content/images/site-logo.png" alt="Bricomarché" class="logo"/></a>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <div class=" = partial-login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        Html.RenderPartial("~/Views/Benutzer/Abmelden.cshtml");
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Benutzer/Anmelden.cshtml", new UI_BricoMarche.Models.BenutzerModelle.AnmeldenModell());
                    }

                </div>
            </div>
            <div class="navbar-collapse collapse navbar-default navbar-right" id="layout-collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="logo-navi">@Html.ActionLink("Produkte Verwalten", "Produkte", "Inhalt", new { kategorieID = -1, seite = 1, anzahl = 20 }, null)</li>
                        @*<li class="logo-navi">@Html.ActionLink("Videos Verwalten", "Videos", "Inhalt")</li>*@
                        <li class="logo-navi">@Html.ActionLink("Benutzer Verwalten", "BenutzerVerwalten", "Administration")</li>
                    }
                    else
                    {
                        <li class="logo-navi">@Html.ActionLink("Produkte", "Produkte", "Inhalt", new { kategorieID = -1, seite = 1, anzahl = 20 }, null)</li>
                        <li class="logo-navi">@Html.ActionLink("Videos", "Videos", "Inhalt")</li>
                        <li class="logo-navi">@Html.ActionLink("Kontakt", "Willkommen", "Inhalt")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function () {
            //$().UItoTop({ easingType: 'easeOutQuart' });
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-left",
                "preventDuplicates": false,
                "showDuration": "100",
                "hideDuration": "500",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "hideEasing": "linear",
                "hideMethod": "fadeOut"
            }

            jQuery.validator.addMethod("mustbetrue", function (value, element, param) {
                return element.checked;
            });
            jQuery.validator.unobtrusive.adapters.addBool("mustbetrue");
        });
        @if (TempData["Erfolg"]!=null)
        {
            <text >toastr["success"]('</text>@TempData["Erfolg"]<text>');</text>
            TempData["Erfolg"] = null;
        }
        else if (TempData["Fehler"]!= null)
        {

            <text>toastr["error"]('</text>@TempData["Fehler"]<text>');</text>
            TempData["Fehler"] = null;
        }
    </script>


</body>
</html>
