<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-layout">
    <div class="navbar navbar-default navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=""><img src="~/Content/images/site-logo.png" alt="Bricomarché" class="logo" /></a>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <div class=" = partial-login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        Html.RenderPartial("~/Views/Benutzer/Abmelden.cshtml");
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/Benutzer/Anmelden.cshtml", new UI_BricoMarche.Models.BenutzerModelle.AnmeldenModell());
                    }

                </div>
            </div>
            <div class="navbar-collapse collapse navbar-default navbar-right">
                <ul class="nav navbar-nav">
                    <li class="logo-navi">@Html.ActionLink("Produkte", "Produkte", "Inhalt")</li>
                    <li class="logo-navi">@Html.ActionLink("Videos", "Videos", "Inhalt")</li>
                    <li class="logo-navi">@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
